<!DOCTYPE html>
<html>
<head>
  <title>PusherFake Test Application</title>
</head>
<body>

<section>
  <header>
    <h1><span>0</span> Clients</h1>
  </header>

  <ul></ul>
</section>

<script src="/javascripts/vendor/pusher-2.2.1.js"></script>
<script>
window.addEventListener("DOMContentLoaded", function() {
  // Create the client instance using the PusherFake server.
  Pusher.instance = <%= PusherFake.javascript %>;
  Pusher.instance.events = {};

  // Record all events.
  Pusher.instance.connection.bind("message", function(message) {
    var events    = Pusher.instance.events,
        namespace = [message.channel, message.event].join(":");

    events[namespace] || (events[namespace] = []);
    events[namespace].push(message.data);
  });
}, false);
</script>

</body>
</html>
