<!DOCTYPE html>
<html>
<head>
  <title>PusherFake Test Application</title>
</head>
<body>

<script src="/javascripts/vendor/pusher-1.10.1.js"></script>
<script>
window.addEventListener("DOMContentLoaded", function() {
  // Use the PusherFake server.
  Pusher.host     = <%= PusherFake.configuration.socket_host.to_json %>;
  Pusher.ws_port  = <%= PusherFake.configuration.socket_port.to_json %>;

  // Create the client instance.
  Pusher.instance = new Pusher(<%= PusherFake.configuration.key.to_json %>);
  Pusher.instance.events = {};

  // Force the connection to go unavailable after a single attempt.
  Pusher.instance.connection.connectionAttempts = 4;

  // Record all events.
  Pusher.instance.connection.bind("message", function(message) {
    var events    = Pusher.instance.events,
        namespace = [message.channel, message.event].join(":");

    events[namespace] || (events[namespace] = []);
    events[namespace].push(message.data);
  });
}, false);
</script>

</body>
</html>
