<!DOCTYPE html>
<html>
<head>
  <title>PusherFake Test Application</title>
</head>
<body>

<section>
  <header>
    <h1><span>0</span> Clients</h1>
  </header>

  <ul></ul>
</section>

<script src="/javascripts/vendor/pusher-2.0.4.js"></script>
<script>
window.addEventListener("DOMContentLoaded", function() {
  // Use the PusherFake server.
  Pusher.host     = <%= MultiJson.dump(PusherFake.configuration.socket_host) %>;
  Pusher.ws_port  = <%= MultiJson.dump(PusherFake.configuration.socket_port) %>;

  // Create the client instance.
  Pusher.instance = new Pusher(<%= MultiJson.dump(PusherFake.configuration.key) %>);
  Pusher.instance.events = {};

  // Force the connection to go unavailable after a single attempt.
  Pusher.instance.connection.connectionAttempts = 4;

  // Record all events.
  Pusher.instance.connection.bind("message", function(message) {
    var events    = Pusher.instance.events,
        namespace = [message.channel, message.event].join(":");

    events[namespace] || (events[namespace] = []);
    events[namespace].push(message.data);
  });
}, false);
</script>

</body>
</html>
